{
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        preset: "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        pkgRoot: "dist"
      }
    ],
    [
      "@semantic-release/exec",
      {
        prepareCmd: "cp dist/package.json package.json && cd dist && zip -qq -r ../tokens-${nextRelease.version}.zip *"
      }
    ],
    "@semantic-release/git",
    [
      "@semantic-release/github",
      {
        assets: [
          {
            path: "tokens-*.zip",
            label: "@brewen.dev/tokens v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}